.App {
   text-align: center;
   padding: 20px;
   background-color: lightgray;
 }
 .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }
 
 .user-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
 }
 
 .user-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 16px;
    text-align: center;
    width: 250px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
 }
 
 .user-card .top-section {
    background-color: #007bff;
    padding: 20px 0;
 }
 
 .avatar-container {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .avatar-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
 }
 
 .user-card h3 {
    margin: 16px 0 8px 0;
    font-size: 1.2em;
 }
 
 .user-description {
   font-size: 14px;
   color: #666;
   margin: 0 16px 16px 16px;
   flex-grow: 1;
 }
 
 .user-card button {
    margin: 16px;
    padding: 10px 16px;
    width: 60%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
 }
 
 